@use './variables.scss';
@import './bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    line-height: 1.6;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.8rem;
}